In [43]:
import pandas as pd
from matplotlib import pyplot as plt

wine = pd.read_csv("wine.csv")

In [44]:
#Lendo o csv, nomeado as suas colunas e armazenando em uma vari√°vel chamada wine.
colnames = ['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']
wine = pd.read_csv('wine.csv', sep=',' , header=None, names=colnames, na_values=['?'])
wine.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [45]:
#verificando se h√° valores faltantes 
wine.isna().sum()

Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

In [46]:
#retornando um dataframe normalizado pelo minmax
def min_max(df):
    new_df = df.copy()
    for icol in range(len(new_df.columns)):
        name_col = new_df.columns[icol]
        column = new_df[name_col]
        min_val = column.min()
        max_val = column.max()
        sub_max_min = max_val - min_val
        for ilin in range(len(column)):
            num = column.iloc[ilin]
            Xnor = (num - min_val) / sub_max_min
            new_df.iloc[ilin, icol] = Xnor
    return new_df

In [47]:
#normalizando o dataframe wine
wine_norm = min_max(wine)
print(wine_norm)

     Alcohol  Malic acid       Ash  Alcalinity of ash  Magnesium  \
1   0.842105    0.191700  0.572193           0.257732   0.619565
1   0.571053    0.205534  0.417112           0.030928   0.326087
1   0.560526    0.320158  0.700535           0.412371   0.336957
1   0.878947    0.239130  0.609626           0.319588   0.467391
1   0.581579    0.365613  0.807487           0.536082   0.521739
..       ...         ...       ...                ...        ...
3   0.705263    0.970356  0.582888           0.510309   0.271739
3   0.623684    0.626482  0.598930           0.639175   0.347826
3   0.589474    0.699605  0.481283           0.484536   0.543478
3   0.563158    0.365613  0.540107           0.484536   0.543478
3   0.815789    0.664032  0.737968           0.716495   0.282609

    Total phenols  Flavanoids  Nonflavanoid phenols  Proanthocyanins  \
1        0.627586    0.573840              0.283019         0.593060
1        0.575862    0.510549              0.245283         0.274448
1        0.627586    0.611814              0.320755         0.757098
1        0.989655    0.664557              0.207547         0.558360
1        0.627586    0.495781              0.490566         0.444795
..            ...         ...                   ...              ...
3        0.241379    0.056962              0.735849         0.205047
3        0.282759    0.086498              0.566038         0.315457
3        0.210345    0.073840              0.566038         0.296530
3        0.231034    0.071730              0.754717         0.331230
3        0.368966    0.088608              0.811321         0.296530

    Color intensity       Hue  OD280/OD315 of diluted wines   Proline
1          0.372014  0.455285                      0.970696  0.561341
1          0.264505  0.463415                      0.780220  0.550642
1          0.375427  0.447154                      0.695971  0.646933
1          0.556314  0.308943                      0.798535  0.857347
1          0.259386  0.455285                      0.608059  0.325963
..              ...       ...                           ...       ...
3          0.547782  0.130081                      0.172161  0.329529
3          0.513652  0.178862                      0.106227  0.336662
3          0.761092  0.089431                      0.106227  0.397290
3          0.684300  0.097561                      0.128205  0.400856
3          0.675768  0.105691                      0.120879  0.201141

[178 rows x 13 columns]

In [48]:
#salvando o data frame normalizado em .csv
wine_norm.to_csv("wineNorm", header=False, index=False)

In [49]:
#lendo o dataframe crx e armazenando em uma variavel
crx = pd.read_csv('crx.csv', sep=',' , header=None, na_values=['?'])
crx.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [32]:
#excluindo as colunas n√£o numericas
for col in crx.columns:
  if col not in [1, 2, 7, 13, 14]:
    crx = crx.drop(col, axis=1)

In [33]:
#verificando se h√° valores faltantes 
crx.isna().sum()

1     12
2      0
7      0
13    13
14     0
dtype: int64

In [34]:
#imputando valores faltantes pela m√©dia da coluna
crx = crx.fillna(crx.mean())
crx

        1       2     7      13   14
0    30.83   0.000  1.25  202.0    0
1    58.67   4.460  3.04   43.0  560
2    24.50   0.500  1.50  280.0  824
3    27.83   1.540  3.75  100.0    3
4    20.17   5.625  1.71  120.0    0
..     ...     ...   ...    ...  ...
685  21.08  10.085  1.25  260.0    0
686  22.67   0.750  2.00  200.0  394
687  25.25  13.500  2.00  200.0    1
688  17.92   0.205  0.04  280.0  750
689  35.00   3.375  8.29    0.0    0

[690 rows x 5 columns]

In [35]:
#confirmando que n√£o h√° mais valores faltantes
crx.isna().sum()

1     0
2     0
7     0
13    0
14    0
dtype: int64

In [36]:
#normalizando o dataframe pelo minmax
crx_norm = min_max(crx)
print(crx_norm)

           1         2         7       13       14
0    0.256842  0.000000  0.043860  0.1010  0.00000
1    0.675489  0.159286  0.106667  0.0215  0.00560
2    0.161654  0.017857  0.052632  0.1400  0.00824
3    0.211729  0.055000  0.131579  0.0500  0.00003
4    0.096541  0.200893  0.060000  0.0600  0.00000
..        ...       ...       ...     ...      ...
685  0.110226  0.360179  0.043860  0.1300  0.00000
686  0.134135  0.026786  0.070175  0.1000  0.00394
687  0.172932  0.482143  0.070175  0.1000  0.00001
688  0.062707  0.007321  0.001404  0.1400  0.00750
689  0.319549  0.120536  0.290877  0.0000  0.00000

[690 rows x 5 columns]

In [37]:
#salvando o data frame normalizado em .csv
crx_norm.to_csv("crxNorm", header=False, index=False)